# Local
# PORT=5001
# NODE_ENV=development
# DB_HOST=localhost
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=flux_corp
# CLIENT_URL=http://localhost:5173

# Production
PORT=5001
NODE_ENV=production
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=flux_db
JWT_SECRET=
JWT_EXPIRES_IN=7d
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@fluxcorp.com
LEAD_NOTIFICATION_EMAIL=sales@fluxcorp.com
CLIENT_URL=https://fluxcorporation.in
UPLOAD_DIR=uploads
